fastapi
astral
timezonefinder
uvicorn[standard]
zeroconf
httpx
aiosqlite
numpy
scipy
python-multipart
birdnetlib
librosa
tensorflow-cpu
soundfile
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.0.0
